<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB02llNYkfRUN6cEFu3QpQR7b44EV2hb3g" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentSuccessActivity"
            android:exported="false"
            android:theme="@style/WhiteBar" />
        <activity
            android:name=".PaymentDetailActivity"
            android:exported="false"
            android:theme="@style/WhiteBar" />
        <activity
            android:name=".KotaActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".TermsNCondActivity"
            android:exported="false" />
        <activity
            android:name=".SecurityActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInformationActivity"
            android:exported="false" />
        <activity
            android:name=".TourViewActivity"
            android:exported="false" />
        <activity
            android:name=".LandingFragmentThree"
            android:exported="false" />
        <activity
            android:name=".LandingFragmentTwo"
            android:exported="false" />
        <activity
            android:name=".LandingFragmentOne"
            android:exported="false" />
        <activity
            android:name=".LandingActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".HotelDetailActivity"
            android:exported="false" />
        <activity
            android:name=".HotelViewActivity"
            android:exported="false" />
        <activity
            android:name=".TicketViewActivity"
            android:exported="false" />
        <activity
            android:name=".TicketActivity"
            android:exported="false" />
        <activity
            android:name=".TicketDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ExploreDetailActivity"
            android:exported="false"/>
        <activity
            android:name=".PaymentActivity"
            android:exported="false"
            android:theme="@style/WhiteBar" />
        <activity
            android:name=".SingupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".TourDetailActivity"
            android:exported="false" />
        <activity
            android:name=".TourActivity"
            android:exported="false" />
        <activity
            android:name=".HotelActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileFragment"
            android:exported="false" />
        <activity
            android:name=".ExploreFragment"
            android:exported="false" />
        <activity
            android:name=".OrderFragment"
            android:exported="false" />
        <activity
            android:name=".HomeFragment"
            android:exported="false" />
        <activity
            android:theme="@style/WhiteBar"
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>